.acmemap-map-container {
    height: 800px;
    width: 100%;
}

.acmemap-zoom-level {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.76);
    z-index: 1000;
}

.acmemap-input {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.76);
    z-index: 1000;
}