.map-container {
    height: 800px;
    width: 100%;
}

.zoom-level {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.76);
    z-index: 1000;
}